.xr_mvpo {visibility:hidden; display:none;}
.xr_page0 {width: 960px; top: 0px}
.xr_page1 {width: 960px; top: 2564px}
.xr_page2 {width: 960px; top: 5032px}
.xr_page3 {width: 960px; top: 7184px}
.xr_page4 {width: 960px; top: 10384px}
.xr_page5 {width: 960px; top: 14462px}
